@font-face {
  font-family: 'bombingregular';
  src: url('./fonts/bombing-webfont.woff2') format('woff2'),
        url('./fonts/bombing-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.title {
  font-family: 'bombingregular';
  font-size: 60px !important;
  color: black !important;
}
  .nav {
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 20em;
    height: 75px;
    background-color: teal;
    font-family: 'bombingregular';
  }

  .navBtn {
    background-color: transparent !important;
    border-color: transparent !important;
    color: black !important;
    font-size: 20px !important;
    font-weight: bold !important;
  }
  
  body {
    height: 100%;
    position: relative;
   }

   .itemDisplay {
   background-color: #e8d8ae;
   border-radius: 2em;
   }
   .main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    /* display: block; */
    position: relative;
    margin: 6em 5em 2em 2em;
    
    padding-bottom: 60px; /* height of your footer */
    }

    h1{
      font-family: 'bombingregular';
      font-size: 40px;
    }
    
    .editModal img {
      height: 200px;
      width: 200px;
      margin-left: 9em;

    }
   footer {
    height: 60px;
    position: fixed;
    background-color: teal;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 4;
   }
   