  .nav {
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 20em;
    /* height: 60px; */
    background-color: teal;
  }
  
  body {
    height: 100%;
    position: relative;
   }

   .main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    /* display: block; */
    position: relative;
    margin: 6em 5em 2em 2em;
    
    padding-bottom: 60px; /* height of your footer */
    }

    h2{
      color: rgb(199, 23, 53);
    }
    
    .editModal img {
      height: 200px;
      width: 200px;
      margin-left: 9em;

    }
   footer {
    height: 60px;
    position: fixed;
    background-color: teal;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 4;
   }
   